*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
} 

header{
    z-index: 999;
    position: fixed;
    background: rgba(255, 255, 255, 0.1); 
   /*  background-color: grey; */
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header .name img{
    width: 300px;
    height: 60px;
}

header .navigation{
    position: relative;
}
header .navigation a{
    color: #000;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
}
header .navigation a:hover{
    color: goldenrod;
}

main{
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.video-pincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 110px;
}
.video-pincipal video{
    width: 75%;
}

.display{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.video-container{
    overflow: hidden;
    border: 3px solid #000;
    border-radius: 5px;
    width: 280px;
    height: 150px;
    margin: 3px;
}

.video-container:hover{
    border: 3px solid goldenrod;
}

.video-container img{
    width: 100%;
}

footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 2em;
}

@media (max-width: 1040px){

    header{
        padding: 12px 20px;
    }
    
    header .navigation{
        display: none;
    }

    header .name img{
        width: 250px;
        height: 50px;
    }

      /* ********************menu header responsive****************** */
    .menu-btn{
        position: absolute;
        background: url(images/menu.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        background-color:#000;
        border-radius: 5px;
        right: 0;
        margin: 0 20px;
        cursor: pointer;
        transition: 0.3s ease;
    }
    .menu-btn.active{
        z-index: 999;
        background: url(images/close.png)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
        filter: invert(1);  /* La propiedad CSS filter dota de efectos gráficos como el desenfoque o cambio de color en la representación antes de que se muestre el elemento. Los filtros se utilizan comúnmente para ajustar la representación de imágenes, fondos o bordes. */
    }

    header .navigation.active{
        z-index: 888;
        position: fixed;
        background-color: #fff;
        top: 0;
        right: 0;
        width: 380px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
        transition: 0.3s ease;
    }
    header .navigation a{
        color: #000;
        font-size: 1.2em;
        margin: 10px;
        padding: 10px 20px;
        border-radius: 20px;
    }
    
    header .navigation a:hover{
        color: goldenrod;
        transition: 0.2s ease;
        border-top: 2px solid goldenrod;
    }

    .display{
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .video-pincipal{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 80px;
    }
    .video-pincipal video{
        width: 75%;
    }

      
    .video-container{
        position: relative;
        overflow: hidden;
        border: 3px solid #000;
        border-radius: 5px;
        width: 90%;
        height: 210px;
        margin: 10px;
    }

    .video-container:hover{
        border: 3px solid goldenrod;
    }

    main{
        align-items: center;
        flex-direction: column;
    }
}