*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
:root{
    --smallLetter: "Georgia",serif;
    --bigLetter: "Helvetica Neue",Helvetica,sans;
    --black: #000;
    --white: #fff;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
} 
header{
    z-index: 999;
    position: fixed;
    background: rgba(255, 255, 255, 0.9); 
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .name img{
    width: 300px;
    height: 70px;
}

header .navigation{
    position: relative;
}


header .navigation a{
    color: #000;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
}
header .navigation a:hover{
    color: goldenrod;
}
header .redes-sociales{
    display: none;
}

img.logo{
    height: auto;
   object-fit: cover; 
}

.search-container {
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
  }
  .search-input {
    flex-grow: 1;
    border: none;
    padding: 8px;
    width: 100%;
    background: transparent;
    outline: none;
  }
  .search-icon {
    padding: 8px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }

/* sistema de vestidos */

.dress-rating {
    cursor: pointer;
  }
  
  .dress {
    width: 25px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
  }
  
  .dress.filled {
    content: url('./images/vestidoSolido.png'); /* URL de la imagen del vestido sólido */
    width: 25px;
  }
  

/* aqui empieza el modal */
.botonModal{
    background-color: transparent;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
  margin: auto 1rem;
  
}
header .modal{
  display: none; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); 
  position: fixed;
  top: 15%;
}
.contenidoModal {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
  }
  .cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  } 
  .cerrar:hover,
  .cerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  /* aqui termina el modal */
  /* formulario inicio */
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50%;
  }
.formulario input{
    width: 50%;
    margin: 5px;
    min-width: 50%;
}
.formulario input{
    text-align: center;

}
.botonesLogin{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    min-width: 50%;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}
.formulario button.boton{
    height: 75px;
    min-width: 50%;
    font-size: 2rem;
    margin: 1rem;
}
.google{
    height: 75px;
}
.formulario .google a{
    margin-left: 0;
}
.google a i{
    width: 150px;
    height: 50px;
    font-size: 3rem;
    color: black;
}
/* formulario fin */
main{
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
section.video-pincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 110px;
}

.black-line {
    border-top: 3px solid black;
    margin: 1rem auto;
    width: 80%;
}

.video-pincipal video{
    width: 50%;
}
.display{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.video-card .stars-content{
    display: flex;
    justify-content: space-around;
}
.video-container{
    overflow: hidden;
    width: 100%;
    height: 150px;

}

.video-card{
    width: 280px;
    height: 100%;
    border: 3px solid #000;
    border-radius: 5px;
    
}
.video-card :hover{
    border: 3px solid goldenrod;
}
.video-card h3{
    color: #000;
}
.video-card p , .video-card i{
    color: #000;
}
.video-card .stars{
    display: flex;
    flex-direction: row;
    
}
.video-container img{
    width: 100%;
}
.form-suscribite{
    width: 100%;
    height: 50px;
    background-color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.sectionNames{
    color: black;
}
footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 2em;
}
footer a{
    color: #fff;
    margin: 10px;
}
footer a:hover{
    color: goldenrod;
}
@media (max-width: 1040px){

    header{
        padding: 12px 20px;
    }
    
    header .navigation{
        display: none;
    }
    header .redes-sociales{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
    }
    header .redes-sociales div{
        margin-top: 20px;
    }
    header .redes-sociales a{
        padding: 10px 20px;
        margin: 20px;
    }

    header .name img{
        width: 250px;
        height: 50px;
    }

    /* modal inicio */


    .contenidoModal{
        width: 75%;
    }

    form.formulario{
        width: 100%;
    }
    .formulario .google a{
        margin-left: 0;
    }
    
    .google a img{
        object-fit: contain;
        width: 50%;
        height: 50px;
    }

    button.google{
        min-width: 100px;
    }

    input.boton{
        text-overflow: ellipsis;
        min-width: 100px !important;
    }

    button.google a{
        margin: 0 !important;
    }

    /* modal fin */

      /* ********************menu header responsive****************** */
    .menu-btn{
        position: absolute;
        background: url(images/menu.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        background-color:#000;
        border-radius: 5px;
        right: 0;
        margin: 0 20px;
        cursor: pointer;
        transition: 0.3s ease;
    }
    .menu-btn.active{
        z-index: 999;
        background: url(images/close.png)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
        filter: invert(1);  /* La propiedad CSS filter dota de efectos gráficos como el desenfoque o cambio de color en la representación antes de que se muestre el elemento. Los filtros se utilizan comúnmente para ajustar la representación de imágenes, fondos o bordes. */
    }

    header .navigation.active{
        z-index: 888;
        position: fixed;
        background-color: #fff;
        top: 0;
        right: 0;
        width: 380px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
        transition: 0.3s ease;
    }
    header .navigation a{
        color: #000;
        font-size: 1.2em;
        margin: 10px;
        padding: 10px 20px;
        border-radius: 20px;
    }
    
    header .navigation a:hover{
        color: goldenrod;
    }

    .display{
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .video-pincipal{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 80px;
    }
    .video-pincipal video{
        width: 75%;
    }

      
    .video-container{
        position: relative;
        overflow: hidden;
        border: 3px solid #000;
        border-radius: 5px;
        width: 90%;
        height: 210px;
        margin: 10px;
    }

    .video-container:hover{
        border: 3px solid goldenrod;
    }

    main{
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 425px){

    
    
    .formulario{
        flex-direction: column;
    }
    
    .formulario .botonesLogin{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 10px;
    }
    .formulario input{
        width: 100%;
    }

    .formulario .google{
        width: 100%;
    }

    .formulario input.boton{
        width: 100%;
    }

}